{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<h1 class="text-center">Liste des categories</h1>
    <div class="row flex p-5">
        {% for category in categories %}
                <div class="card text-white bg-primary mb-3" >
                    
                    <div class="card-header">Categorie</div>
                    <div class="card-body">
                    <h4 class="card-title">{{ category.name }}</h4>
                    <a class='btn btn-primary' href="{{ path('category-show', {slug:category.slug}) }}">Voir</a>
                    <a class='btn btn-secondary' href="{{ path('category-edit', {slug:category.slug}) }}">Modifier</a>
                </div>
            </div>
            
                
        {% endfor %}
    </div>
{% endblock %}