{% extends "base.html.twig" %}

{% block title %}Création d'une catégorie{% endblock %}

{% block body %}
    <h1> Ajouter une categorie </h1>
    {{ include('category/_form.html.twig') }}

{% endblock %}